{% extends 'base.html.twig' %}

{% block body %}
    <form class="form sites-url-form" method="post">
        <label class="form-label" for="urls-field">Enter sites urls: </label>
        <textarea class="form-textarea" name="urls-field" id="urls-field" rows="10"></textarea>
        <button class="button" type="submit">Submit</button>
        <button class="button load-links-button" type="button">Load test links</button>
    </form>

    <div class="table-wrapper">
        <table class="table sites-status-table">
            <thead>
            <tr>
                <th>Site url</th>
                <th>Status</th>
                <th>Status code</th>
                <th>Redirected to</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
{% endblock %}