.form {
  margin: 0 0 20px;
}

.form-label {
  display: block;
  margin: 0 0 10px;
}

.form-textarea {
  width: 100%;
  resize: none;
  border: 1px solid var(--c-grey);
  margin: 0 0 10px 0;

  &:focus {
    outline: none;
    border: 1px solid var(--c-primary);
  }
}
