:root {
  --container-width: 1200px;

  --c-white: #fff;
  --c-black: #000;
  --c-grey: #cccccc;
  --c-green: #01b879;
  --c-primary: var(--c-green);
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  display: flex;
  flex-flow: column;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.app-header {
  background: var(--c-primary);
  padding: 10px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  margin: 0 0 20px;

  & .app-name {
    color: var(--c-white);
    margin: 0;
    font-weight: 300;
  }
}

.app-body {
  margin: auto;
  display: flex;
  width: 100%;
  flex-flow: column;
  padding: 10px;

  & .content-wrapper {
    max-width: var(--container-width);
    width: 100%;
    margin: auto;
  }
}

.button {
  -webkit-appearance: none;
  background: var(--c-white);
  border: 1px solid var(--c-grey);
  padding: 5px 10px;
  color: var(--c-black);
  cursor: pointer;

  &:focus {
    border: 1px solid var(--c-primary);
    background: var(--c-primary);
    color: var(--c-white);
    outline: none;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
