.table-wrapper {
  width: 100%;
  overflow: auto;
}

.table {
  width: 100%;
  border: 1px solid var(--c-grey);

  & thead {
    & th {
      font-weight: 400;
    }
  }

  & tbody {
    & td {
      text-align: center;
    }
  }
}
