<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>{% block title %}Sites manager!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('dist/main.css') }}" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body>
        <header class="app-header">
            <h1 class="app-name">Sites manager</h1>
        </header>

        <main class="app-body">
            <div class="content-wrapper">
                {% block body %}{% endblock %}
            </div>
        </main>

        {% block javascripts %}
            <script src="{{ asset('dist/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
